
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow:10px 10px 5px black;">
    <a class="navbar-brand" href="/"><img width="50" height="50" src="/img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/users/login">Login</a>
            <a class="nav-item nav-link" href="/users/register">Register</a>

        </div>
    </div>
</nav>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center" style="box-shadow:10px 10px 5px black;">
            <h1><img src="/img/logo.png" width="100" height="100" alt=""></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>